.container-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 10px #9a9a9a;
}
.container-categories_head {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-title {
  margin-right: 5px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.create-category {
  min-height: 300px;
}
.edit-label {
  font-weight: bold;
}
