.menu-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-title {
  margin-right: 30px;
}
.menu-nav {
  display: flex;
  justify-content: end;
  min-width: 300px;
  position: absolute;
  top: 20px;
}
.container-menus {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.menu-item:hover {
  box-shadow: 0 0 10px #9a9a9a;
}
.item-title {
  color: #605e5e;
}

.item-body {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem;
}
.item-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.item-footer p:first-child {
  font-weight: bold;
  color: #494949;
}
.icon {
  font-size: 2rem;
}

.container-form-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 220px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #9a9a9a;
}
.form-group {
  margin-bottom: 5px;
}
