<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Para Casa! - añadir plato</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <link rel="stylesheet" th:href="@{/css/categories.css}" />
  <link rel="stylesheet" th:href="@{/css/dishes.css}" />

</head>

<body>
  <div class="container">
    <a th:href="@{/dishes}">
      <button type="text" class="btn btn-outline-dark back-button">
        ⬅️ Volver
      </button>
    </a>

    <div class="container-categories create-category p-5">
      <h1 class="text-center">Añadir nuevo plato </h1>
      <div class="create-dish-form">

        <form th:action="@{/dishes}" th:object="${dish}" method="POST">
          <!-- INPUT FOR DISH NAME -->
          <div class="form-group create-form">
            <label>Plato</label>
            <input type="text" name="dish" th:field="*{nombre}" class="form-control mb-3 mt-1"
              placeholder="Patatas Fritas" required />
          </div>

          <div class="row">
            <!-- INPUT FOR DISH CALORIES -->
            <div class="form-group col-md-6">
              <label>Calorías</label>
              <input type="text" name="calorias" th:field="*{calorias}" class="form-control mb-3 mt-1" placeholder="350"
                required />
            </div>

            <!-- INPUT FOR DISH PRICE -->
            <div class="form-group col-md-6">
              <label>Precio</label>
              <input type="number" step=".01" name="precio" th:field="*{precio}" class="form-control mb-3 mt-1"
                placeholder="3.50" required />
            </div>
          </div>

          <div class="row">
            <!-- INPUT FOR DISH CATEGORIES -->
            <div class="form-group col-md-6">
              <label>Categoría del plato</label>
              <select th:field="${dish.categorias}" name="categorias" class="form-select mt-1"
                aria-label="Default select example" multiple="true">
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.categoria}" />
              </select>
            </div>

            <!-- INPUT FOR DISH TYPE -->
            <div class="form-group col-md-6">
              <label>Tipo de Plato</label>
              <select th:field="${dish.tipo}" name="tipo" class="form-select mt-1" aria-label="Selecciona un tipo">
                <option th:each="type: ${types}" th:value="${type.id}" th:text="${type.tipo}" />
              </select>
            </div>
          </div>

          <!-- INPUT FOR DISH DESCRIPTION -->
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" th:field="*{descripcion}" class="form-control mb-3 mt-1" id="descripcion"
              rows="3" placeholder="Patatas Fritas con..." />
          </div>

          <div class="form-group">
            <div class="box-footer">
              <button type="submit" class="btn btn-success">Guardar 💾</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>